* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup-btn {
   background-color: #e64c09 !important;
   color: white;
   font-weight: 10px; 
   border-radius: 10px !important;
   height: 25px !important;
   font-size: 14px;
   padding: 3px 14px 4px;
}
.signup-btn:hover {
    background-color: #e64c09;
    color: white;
}
.home-link {
    color: #e64c09 !important;
}